*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
body {
    height: 100vh;
    overflow: hidden;
    font-family: monospace;
    color: white;
    background-color: black;
}
main {
    display: grid;
}